<style>
    #id {
        font-size: 30px;
        font-weight: 200;
        font-family: 'Times New Roman', Times, serif;
    }

    * {
        color: white;
    }
    

    h3 {
        color: burlywood;
    }

    #input {
        margin-top: 20px;
        border: 2px solid #E26317;
        border-radius: 10px;
        margin-bottom:30px;
        ;
    }
</style>

    <div class="container" style="background-color: #4A3534">
        <div class="col-lg-11 m-auto d-block">
            <div class="row">
                <div class="col-8 mt-5" id="id">
                    <h3>interview</h3>

                    <input type="text" id="input" placeholder="enter result">
                    <input type="text" id="input" placeholder="enter result">
                    <input type="text" id="input" placeholder="enter result">
                </div>
            </div>
        </div>
      </div>
