


    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="col-6" id="number">Enter Your Application number <input type="number"></div>
                <div class="col-6 mt-2" id="number">Enter OTP <input type="number"></div>
                <div class="col-4">
                    <button class="submit mt-5">Submit</button>
                </div>
            </div>
        </div>
    </div>
