<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">NewBang_forms</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link " asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item" style="background-color:white">
                        <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Index" style="background-color:white">Review page</a>
                    </li>

                    <li class="nav-item" style="background-color:white">
                        <a class="nav-link " asp-area="" asp-controller="Principal" asp-action="Index" style="background-color:white">principal Approved</a>
                    </li>

                    <li class="nav-item" style="background-color:white">
                        <a class="nav-link " asp-area="" asp-controller="Interview" asp-action="Index" style="background-color:white">Interview</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>