<style>
    * {
        color: black;
        font-family: sans-serif;
        font-weight:300;
    }

    fieldset {
        background-color: #EEEEEE;
        border: 2px solid black;
        width: 80%;
        margin-left: 50px;
        border-radius: 5px;
    }

    #photo {
        border: 2px solid black;
        overflow: hidden;
    }

    #photo2 {
        border: 2px solid black;
        overflow: hidden;
    }

    #file-input {
        cursor: pointer;
        outline: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        filter: alpha(opacity=0);
        /* IE < 9 */
        opacity: 0;
    }

    #thumbimpression {
        cursor: pointer;
        outline: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        filter: alpha(opacity=0);
        /* IE < 9 */
        opacity: 0;
    }

    #signature {
        cursor: pointer;
        outline: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 0;
        overflow: hidden;
        filter: alpha(opacity=0);
        /* IE < 9 */
        opacity: 0;
    }

    .input-lable {
        cursor: pointer;
        position: relative;
        display: inline-block;
    }

    legend {
        background-color: darkgoldenrod;
        color: black;
        padding: 5px 10px;
        text-align: center;
        width: 46%;
    }

    #submit {
        background-color: darkgoldenrod;
        color: black;
        border: 2px solid darkgoldenrod;
        border-radius: 5px;
    }

    .font-size {
        font-size: 20px;
    }
</style>


<form action="#" onsubmit="return validation()" style="background-color: #EEEEEE">
    <fieldset style="background-color: #EEEEEE ;">
        <div class="container">
            <div class="col-lg-11 m-auto d-block">
                <div class="form-group">
                    <div class="row ">
                        <div class="co-lg-8 ml-4 mt-5 ">
                            <h4>Admission application for 3 and 5 year of 2019-2020 </h4>
                        </div>
                        <div class="col-lg-4 ml-auto pb-4 text-center">
                            <div class="shadow-sm p-5 bg-body mt-3 h-30" id="photo">
                                <img id="photo1" style="visibility: hidden;" width="100%" height="100%">
                                <label id="phototext" for="file-input" class="input-label" required>
                                    PHOTOGRAPH
                                    <br /> Affix your <br /> latest <br /> Passport size
                                    Photo <u>clickhere</u>
                                    (4 cm x 5 cm)
                                    Self attested image added
                                </label>
                                <input id="file-input" type="file" onchange="loadImg1(this)" name="filename"
                                       accept="image/gif, image/jpeg, image/png">
                            </div>
                        </div>

                        <div class="col-12">
                            <lable class="font-size">
                                Name of the candidate as in Qualifying examination marks card:
                            </lable>
                            <div class="row  mt-1">
                                <div class="col-6">
                                    <lable class="font-size">First Name</lable>
                                    <input type="text" class="form-control" autocomplete="off" id="firstname"
                                           required>
                                </div>


                                <div class="col-6">
                                    <lable class="font-size">Middle Name</lable>
                                    <input type="text" class="form-control" autocomplete="off" id="middlename"
                                           required>
                                </div>

                                <div class="col-6">
                                    <lable class="font-size">Last Name</lable>
                                    <input type="text" class="form-control" autocomplete="off" id="lastname"
                                           required>
                                </div>
                            </div>




                            <div class="form-group">
                                <lable class="font-size">Mother name</lable>
                                <input type="text" class="form-control" id="mother name" autocomplete="off"
                                       required>
                            </div>

                            <div class="form-group">
                                <lable class="font-size">Father name</lable>
                                <input type="text" class="form-control" id="father name" autocomplete="off"
                                       required>
                            </div>

                            <div class="form-group">
                                <lable class="font-size">Date of birth</lable>
                                <input type="date" id="birthday" name="birthday" class="form-control"
                                       autocomplete="off" required>
                            </div>

                            <div class="row">
                                <div class="col-3">
                                    <p class="font-size">GENDER:</p>
                                </div>
                                <div class="col-6">
                                    <lable> Female</lable>
                                    <input type="radio" name="gender" id="female">
                                    <lable> Male </lable>
                                    <input type="radio" name="gender" id="male">
                                    <lable> Trans Gender </lable>
                                    <input type="radio" name="gender" id="tg">

                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row ">
                                    <div class="col-6">
                                        <lable class="font-size">Nationality</lable>
                                        <input type="text" class="form-control" id="nationality" autocomplete="off"
                                               required>
                                    </div>
                                    <div class="col-6">
                                        <lable class="font-size"> Religion</lable>
                                        <input type="text" class="form-control" id="religion" autocomplete="off"
                                               required>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="row mt-1">
                                    <div class="col-6">
                                        <lable class="font-size">Category</lable>
                                        <input type="text" class="form-control" id="category" autocomplete="off"
                                               required>
                                    </div>
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-6 mt-3">
                                    <lable class="font-size">Belongs to minority:</lable>
                                    <lable>Yes</lable>
                                    <input type="checkbox" id="yes">
                                    <lable>No</lable>
                                    <input type="checkbox" id="no">
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12">
                                    <lable class="font-size">Marital status:</lable>
                                    <lable>Married</lable>
                                    <input type="checkbox" id="married">
                                    <lable>Unmarried</lable>
                                    <input type="checkbox" id="unmarried">
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12">
                                    <lable>
                                        Whether claims reservation under 371 (J) Yes (or) No ( If yes, Enclose
                                        the certificate )
                                    </lable><br />
                                    <input type="file" id="claimyes">
                                    <lable>NO</lable>
                                    <input type="radio" id="claimsno">
                                </div>
                            </div>

                            <div class="row mt-3">
                                <div class="col-12">
                                    <lable>
                                        Whether Employed Yes (or) No (If yes, Enclose the NOC from employer)
                                    </lable><br>
                                    <input type="file" id="employedyes"><br>
                                    <lable class="font-size">If yes details</lable>
                                    <textarea class="form-control" row="3"></textarea>
                                    <lable>NO</lable>
                                    <input type="radio" id="employedno">
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-12">
                                    <lable class="font-size">Postal Details</lable>
                                    <textarea class="form-control" row="5"></textarea>
                                    <div class="mt-3">
                                        <div class="row justify-content-between">
                                            <div class="col-3 order-1">
                                                <input type="text" placeholder="city" id="city "
                                                       class="form-control" autocomplete="off" required>
                                            </div>
                                            <div class="col-3 order-2">
                                                <input type="text" placeholder="District" id="district"
                                                       class="form-control" autocomplete="off" required>
                                            </div>
                                            <div class="col-3 order-3">
                                                <input type="text" placeholder="state" id="state"
                                                       class="form-control" autocomplete="off" required>
                                            </div>
                                            <div class="col-3 order-4 mt-1">
                                                <input type="text" placeholder="Pin-code" id="pin-code"
                                                       class="form-control" autocomplete="off" required>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="mt-3 font-size">
                                        Telephone No with Country & STD Code<input type="text" placeholder=""
                                                                                   class="form-control">
                                    </div>
                                    <div>
                                        <lable class="font-size">Mobile number</lable>
                                        <input type="number" class="form-control" id="mobileno" autocomplete="off"
                                               required>
                                    </div>

                                    <div>
                                        <lable class="font-size">E-mail</lable>
                                        <input type="email" class="form-control" id="e-mail" autocomplete="off"
                                               required>
                                    </div>

                                    <div class="row">
                                        <div class="col-12 font-size">
                                            Academic Details ( Only for Fresh Admission to LL.B)
                                            <textarea class="form-control" row="5"></textarea>
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <div class="font-size">
                                                Affix photograph and enclose the following attested copies.
                                            </div>
                                            <ol>
                                                <li>
                                                    SSLC/SSC/X Class Certificate/Marks Card containing Date of
                                                    birth.<input type="checkbox">
                                                </li>
                                                <li>
                                                    PUC 2nd year/HSC and Degree Qualification Examination marks
                                                    card.<input type="checkbox">
                                                </li>
                                                <li>
                                                    Previous year’s both semester marks card of subsequent year
                                                    students.<input type="checkbox">
                                                </li>
                                                <li>Caste and Income certificate.<input type="checkbox"></li>
                                                <li>Eligibility certificate, if needed.<input type="checkbox"></li>
                                                <li>Migration certificate, if needed.<input type="checkbox"></li>
                                                <li>
                                                    Study permission letter from employer, if applicable.<input type="checkbox">
                                                </li>
                                                <li>
                                                    Reservation Certificate from the concerned department in case
                                                    371(J) students.<input type="checkbox">
                                                </li>
                                                <li>
                                                    Disability Certificate in the case of candidates belonging to
                                                    PH.<input type="checkbox">
                                                </li>
                                            </ol>
                                            <input type="file" id="enclose">
                                        </div>
                                    </div>
                                    <div class="row mt-3">
                                        <div class="col-12">
                                            <div class="font-size">
                                                please Note:
                                            </div>
                                            <ol>
                                                <li>Incomplete applications are liable to be rejected.</li>
                                                <li>
                                                    Submissions of application does not guarantee the candidates,
                                                    being called for interview or registration of admission.
                                                </li>
                                            </ol>
                                            <div class="col-3">
                                                Blood Group <input type="text" class="form-control"
                                                                   autocomplete="off" required>
                                            </div> <br>
                                            Are willing to enroll as a blood donor? yes:<input type="checkbox"> No:
                                            <input type="checkbox">
                                        </div>
                                    </div>
                                    <div class="row mt-5">
                                        <fieldset style="background-color:#EEEEEE">
                                            <legend>DECLARATION BY APPLICANT</legend>
                                            <div class="col-12">
                                                I hereby declare that I have read and understood the condition of
                                                eligibility for the programme
                                                for which I seek admission. I fulfill the minimum eligibility
                                                criteria and I have provided necessary
                                                information in this regard. In the event of any information being
                                                found incorrect or misleading,
                                                my candidature shall be liable to cancellation by the University at
                                                any time and I shall not be
                                                entitled to refund of any fee paid by me to the University. Further,
                                                I have carefully studied
                                                and accepted the regulations of the University and shall not raise
                                                any dispute in future

                                                over the same regulations.
                                                <div class="row justify-content-between">
                                                    <div class="col-4 order-1 mb-3">
                                                        Date:<input type="date" class="form-control" id="date"
                                                                    autocomplete="off" required>
                                                        Place:<input type="text" class="form-control" id="place"
                                                                     autocomplete="off" required>
                                                    </div>
                                                    <div class="col-4 order-2 mt-4">
                                                        <label id="phototext2" for="thumbimpression" required>
                                                            Left Hand Thumb Impression<u>clickhere</u>
                                                        </label>
                                                        <div class="shadow-sm p-1 bg-body mt-3 h-30">
                                                            <img id="photo2" style="visibility: hidden;"
                                                                 width="100%" height="100%">
                                                            <input id="thumbimpression" type="file"
                                                                   onchange="loadImg2(thumbimpression)"
                                                                   accept="image/gif, image/jpeg, image/png">

                                                        </div>
                                                    </div>
                                                    <div class="col-4 order-3 mt-4">
                                                        <label id="phototext3" for="signature" required>
                                                            Signature<u>clickhere</u>
                                                        </label>
                                                        <div class="shadow-sm p-1 bg-body mt-3 h-30">
                                                            <img id="photo3" style="visibility: hidden;"
                                                                 width="100%" height="100%">
                                                            <input id="signature" type="file"
                                                                   onchange="loadImg3(signature)"
                                                                   accept="image/gif, image/jpeg, image/png">

                                                        </div>
                                                    </div>
                                                </div>
                                        </fieldset>
                                    </div>
                                    <div class="row mt-5">
                                        <fieldset style="background-color:#EEEEEE">
                                            <legend>For College Office use only</legend>
                                            <div class="col-12">
                                                Application & the Marks cards, certificates are verified and found
                                                correct.

                                                As per the BENGALURU LAW COLLEGE admission regulations, this
                                                candidate is held eligible for
                                                admission to ............... year of ................. years
                                                ......................................... Course & he/she is given

                                                admission for the academic year 2019-20.

                                                <div class="row justify-content-between">
                                                    <div class="col-6 mt-5 mb-3">
                                                        Details of Admission Fees amount received:
                                                        <div class="col-3 d-inline">
                                                            Amount:<input type="number" id="amount"
                                                                          class="form-control">
                                                            Receipt No. & Date:<input type="number&date"
                                                                                      id="recepit" class="form-control">
                                                            Date of Admission :<input type="date" id="admissiondate"
                                                                                      class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-6 mt-5">
                                                        Principal/Director:<br>
                                                        (With seal of the college)
                                                    </div>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="form-group pt-5">
                                        <button id="submit">save</button>
                                        <input type="submit" name="submit" value="submit" id="submit"
                                               autocomplete="off">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>

<script type="text/JavaScript">


    function validation() {
        var valid = false;
        var x = document.myform.gender;

        for (var i = 0; i < x.length; i++) {
            if (x[i].checked) {
                valid = true;
                break;
            }
        }

        if (valid) {
        }

        else {
            alert("please fill gender");
            return false;
        }
    }
</script>
