<style>
    .row {
        margin-top: 20%;
        margin-left: 30%;
        font-size: 20px;
        font-family: cursive;
    }

    * {
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }

    h3 {
        color: white;
    }

    #input {
        margin-top: 20px;
        border: 2px solid black;
        border-radius: 10px;
        color: white;
    }
</style>



<div class="container">
    <div class="row">
        <div class="col-8 mt-5" id="id">
            <h3>interview</h3>

            <input type="text" id="input" placeholder="enter result">
            <input type="text" id="input" placeholder="enter result">
            <input type="text" id="input" placeholder="enter result">
        </div>
    </div>
</div>
