/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

-----------



* {
    color: white;
}

#getdata {
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    background-color: #E26317;
    text-align: center;
}

#submit {
    border: 2px solid white;
    color: white;
}
* {
    color: white;
}


.btn-1 {
    color: white;
    border: 2px solid #E26317;
    background-color: #E26317;
    border-radius: 10px;
    height: 45px;
}

.btn-2 {
    color: white;
    border: 2px solid #E26317;
    background-color: #E26317;
    border-radius: 10px;
    height: 45px;
}

fieldset {
    border: 2px solid white;
    width: 80%;
    margin-left: 50px;
    border-radius: 5px;
}

#photo {
    border: 2px solid white;
    overflow: hidden;
}

#photo2 {
    border: 2px solid white;
    overflow: hidden;
}

#file-input {
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    filter: alpha(opacity=0);
    /* IE < 9 */
    opacity: 0;
}

#thumbimpression {
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    filter: alpha(opacity=0);
    /* IE < 9 */
    opacity: 0;
}

#signature {
    cursor: pointer;
    outline: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    overflow: hidden;
    filter: alpha(opacity=0);
    /* IE < 9 */
    opacity: 0;
}

.input-lable {
    cursor: pointer;
    position: relative;
    display: inline-block;
}

legend {
    color: white;
    padding: 5px 10px;
    text-align: center;
    width: 46%;
    background-color: #E26317;
}

#submit {
    color: white;
    border: 2px solid #E26317;
    border-radius: 5px;
}

.font-size {
    font-size: 20px;
}

    